body 
{
	background: #dcdcdc url("../images/header.jpg") no-repeat center top;
}


h1, h2, h3, h4, h5, h6
{
	font-family: arapey, serif;
}

p
{
	font-family: Verdana, sans-serif;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.clearfix:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#container
{
	width: 1018px;
	margin: 0 auto;
}

header
{
	padding-top: 35px;
}

header h1
{
	position: relative;
	color: white;
	float: right;
	width: 30%;
	margin-bottom: 0;
	padding-bottom: 10px;
	text-align: right;
	font-weight: 300;
	font-size: 1.25em;
	letter-spacing: -1px;
}

nav
{
	position: relative;
	top: 17px;
	left: -9px;
	width: 1061px;
	margin: 0 -3% -0.25% -3%;
	padding: 0;
}

ul li 
{
	display: inline-block;
    list-style: none;
    width: 16.53%;
    height: 45px;
    margin: 0 0 0 -4px;
    padding-top: 25px;
    text-align: center;
    background: url("../images/nav.jpg");
    border-right: 1px solid rgb(20,123,187);

}

li a, li a:link, li a:visited
{
  	padding-left: 60px;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    display: block;
    float: left;
    font-family: Verdana, sans-serif;
}

li a:hover
{
	text-decoration: underline;
}


li:first-child
{
	border-radius: 20px 0 0 0;
	margin-left: 0;
}

ul li:last-child
{
	border-radius: 0 20px 0 0;
	border: 0;
}

/*ul li:first-child a
{
	text-decoration: underline;
}*/

#content
{
	padding: 35px 35px 0 35px;
	background-color: white;
}

#photoblock
{
	width: 950px;
	height: 174px;
	background: url("../images/slide02.jpg");
	padding: 117px 0;
	margin-bottom: 30px;

}

#photoblock div
{
	float: right;
	height: 140px;
	width: 445px;
	background-color:rgba(0,0,0,0.5);
	text-align: right;
	padding-right: 4%;
	padding-top: 1%;
}

#photoblock div h2
{
	position: relative;
	color: white;
	font-size: 3.0em;
	font-weight: 300;
	line-height: 0.65em;
}

#bridge
{
	width: 950px;
	height: 210px;
 	background: url("../images/banner-tail.gif");

}

#bridge div
{
	position: relative;
	display: inline-block;
	color: white;
	height: 150px;
	width: 232px;
	padding: 30px 50px 30px 25px;
	border-right: 1px solid black; /* gradient border? really? */
}

#bridge div:last-child
{
	border: none;
}

#bridge div img
{
	margin-right: 20px;
}

#bridge div div
{
	position: relative;
	background-color: rgb(150,150,150);   /*more gradients.*/
	height: 28px;
	width: 70px;
	clear: left;
	float: left;	
	padding: 14px 0 0 16px;
	margin-top: 24px;
	margin-right: 20px;
}

#bridge div div a
{
	text-decoration: none;
	color: rgb(42,42,42);
	font-family: Verdana, sans-serif;
	font-size: 0.7em;
	font-weight: 300;
}

#bridge div h1
{
	color: white;
	margin-top: -8px;
	margin-bottom: 16px;
	font-size: 2.3em;
	font-weight: 200;
}

#bridge div p
{
	color: white;
	font-size: 0.7em;
	font-weight: 0;
	line-height: 1.9em;
	margin-right: -10px;
}

#creative
{
	margin-top: 50px;
	width: 641px;
	height: 260px;
	border-bottom: 1px solid lightgrey;
}

#creative img
{
	margin-right: 20px;
}

#creative h1
{
	margin-top: -6px;
	font-size: 2.3em;
	font-weight: 200;
}

#creative h3
{
	position: relative;
	width: 400px;
	font-weight: 100;
	font-size: 1em;
	line-height: 1.2em;
	margin: 0;

}

#creative p
{
	width:400px;
	color: rgb(150,150,150);
	font-size: 0.66em;
	line-height: 1.9em;
	font-weight: 100;
}

#popular
{
  	width: 300px;
  	padding-top: 10px;
  	clear: left;
}

#popular article:nth-child(2)
{
  	border-bottom: 1px solid lightgray;
}

#popular h1
{
 	font-size: 2.4em;
 	font-weight: 100;
}

#popular article h3
{
  	font-size: 0.95em;
  	font-style: italic;
  	line-height: 1.2em;
  	padding-left: 15px;
  	text-indent: -15px;

}

#popular article h3:before
{
    content: '\2713\0000a0\0000a0'; 
    color: darkblue;
    font-size: 0.6em;
}


  #popular p
  {
  	margin-top: 0;
  	font-size: 0.75em;
  	line-height: 1.8em;
  	color: gray;
  }

  #popular p a
  {
  	text-decoration: none;
  	color: darkblue;
  }

  #perspective
  {
  	width: 280px;
  	border-left: 1px solid lightgray;
  	margin-top: 40px;
  	margin-left: 35px;
  	padding: 0 0 0 35px;
  }

  #perspective h1
  {
  	font-size: 2.4em;
 	font-weight: 100;
 	margin-top: 0;
 	line-height: 0.8em;
  }

  #perspective h3
  {
  	font-size: 0.95em;
  	font-style: italic;
  	line-height: 1.5em;
  	color: blue;
  }

  #perspective p
  {
  	font-size: 0.75em;
  	line-height: 1.8em;
  	color: gray;
  	margin-bottom: 35px;
  }

  #perspective div
  {
  	height: 27px;
  	width: 76px;
  	background-color: #333;
  	padding: 10px 0 0 14px;
  }

  #perspective div a
  {
  	font-family: Verdana, sans-serif;
  	text-decoration: none;
  	color: white;
  	font-size: 0.75em;
  	font-weight: bold;
  }

  #sidebar
{
	width: 275px;
	margin-top: 50px;
}

#sidebar div
{
	background-color: rgb(240,240,240);
	border-bottom: 2px white solid;
}

#side_head
{
	position: relative;
	width: 275px;
	height: 55px;
	background: url("../images/nav.jpg");
}

#side_head h2
{	
	position: relative;
	top: -6px;
	color: white;
	font-size: 1.5em;
	font-weight: 100;
	padding-left: 20px;
}

.reminder
{
	clear: right;
	width: 275px;
	height: 203px;
	background-color: rgb(240,240,240); /*I'm getting a tshirt that says "gradients are gross"*/
	padding: 0;
}

.reminder img 
{
	position: relative;
	top: 20px;
	left: 20px;
}

.reminder h3
{
	position: relative;
	top: 18px;
	left: -14px;
	width: 30px;
	text-align: center;
	font-size: 1em;
	line-height: 0.9em;
}

.reminder h2
{
	position: relative;
	top: 15px;
	text-align: left;
	width: 200px;
	font-size: 0.9em;
}

.reminder p
{
	clear: both;
	color: rgb(150,150,150);
	font-size: 0.7em;
	padding: 20px 30px 0 20px;
	line-height: 2em;
}

.reminder a
{
	padding: 0 20px;
	color: blue;
	text-decoration: none;
}

.reminder a:after
{
    content: ' \2192'; 
    color: black;
    font-size: 0.6em;
}



